@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(255, 255, 255);
  --foreground: rgb(23, 23, 23);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(10, 10, 10);
    --foreground: rgb(237, 237, 237);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: poppins, system-ui, Arial, Helvetica, sans-serif;
  width: 100%;
}

button {
  background-color: rgb(173, 147, 102)
}

button:hover {
  background-color: rgb(204, 174, 121)
}

button:active {
  background-color: rgb(173, 147, 102)
}

a:active {
  background-color: rgb(173, 147, 102)
}