.hero {
   display: flex;
   z-index: 11;
   color: white;
   background-color: rgba(10, 10, 10, 0.7);
   padding: 0 10%;
   justify-content: space-between;
   align-items: center;
}

.hero__data__contact {
   display: flex;
}

.hero__data__contact__underlined {
   text-decoration: underline rgb(173, 147, 102) 3px;
}

.header__wrapper {
   position: fixed;
   width: 100%;
   z-index: 10;
}


.heroLoader {
   border: 3px solid #f3f3f3;
   border-top: 3px solid rgb(173, 147, 102);
   border-radius: 50%;
   height: 18px;
   width: 18px;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }

   100% {
      transform: rotate(360deg);
   }
}

@media (max-width: 768px) {
   .hero {
      background-color: rgb(10, 10, 10);
      justify-content: center;
   }
}