.navbar {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   align-items: center;
   padding: 1rem 10%;
   background-color: rgba(23, 23, 23, 0.6);
   color: white;
   z-index: 11;
}

.navbar a {
   color: white;
}

.navbar a:hover {
   color: rgb(204, 174, 121)
}

.navbar__logo img {
   cursor: pointer;
}

.navbar__links {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.navbar__link {
   display: inline-block;
}

.navbar__link button {
   background: none;
   border: none;
   cursor: pointer;
   transition: color 0.3s ease;
}

.navbar__link button:hover {
   color: rgb(204, 174, 121)
}

@media (max-width: 768px) {
   .navbar {
      background-color: rgb(23, 23, 23);
   }

   .navbar__links {
      gap: 1rem;
   }
}